.green__box {
  background: #fff;
  border:1px solid #ccc;
  padding: 10px;
  margin-top:10px;
  font-size:1em;
  width:250px;
  text-align:center;
}


.red__box {
  background: #fce4ec;
  border:1px solid #f8bbd0;
  padding: 10px;
  margin-left: 15px;

}