.findedmasters{
  display: flex;
  background: #fff;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.findedmasters > p {
  padding: 0;
  margin: 0;
}
.findedmasters img {
  margin-right: 10px;
}
.findedmasters span{
color:#2B3E69;
}

.categories {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #BCE8F1;
  background: #D9EDF7;
}
.categories .user_length {
  color:#ccc;
  font-size: 0.9em;
}

.categories > form {
  .form-group select {
  border: 1px solid #ccc;
  border-radius: 0px;
  }
}

.find__button {
    background: #FF5C2D;
    border-radius: 3px;
    color:#fff;

    &:hover {
      background: #FF3900;
      color:#fff;
    }
}

