.findedmasters{
  display: flex;
  background: #fff;
  padding: 10px;
  margin-bottom: 12px;
}
.findedmasters > p {
  padding: 0;
  margin: 0;
}
.findedmasters img {
  margin-right: 10px;
}
.findedmasters span{
color:#2B3E69;
}