.footer {
  height: 40px;
  width: 100%;
  background: #424242;
}

.footer_copyright{
  font-family:  'Jura', sans-serif;
  color: #fff;
}

.footer_copyright > p {
  text-align: center;
  padding-top: 10px;
}