.create__formbox{

}

.create__form{
  }

.form_header{
  margin-top: 1em;
  margin-left: 15px;
  color: #2B3E69;
  font-weight: bold;
//  border: 1px solid #ddd;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form-group select,.form-group textarea, .form-group input {
  border: 2px solid #ccc;
  border-radius: 0px;
}

.form-control {
   border-radius: 0px;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
 }

.__button{
  padding: 8px 15px 8px 15px;
  border-radius: 2px;
  font-size: 15px;
}

.register__link{
  margin-left: 15px;
}
.control-label{
  text-align: left;
  margin: 0;
  color: #282828;
  font-weight: 300;
  font-size: 0.9em;
}

hr{
  border: none; /* Убираем границу для браузера Firefox */
  color: #ccc; /* Цвет линии для остальных браузеров */
  background-color: #ccc; /* Цвет линии для браузера Firefox и Opera */
  height: 2px;}

