.create__formbox{

}

.create__form{

}

.required {
  color:red;
  font-weight: bold;
}

/**
*create job header
*/
.form_header {
  margin-left:15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form-group select,.form-group textarea, .form-group input {
  border: 2px solid #ccc;
  border-radius: 0px;
}

.form-control {
   border-radius: 0px;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
 }

.__button{
  padding: 8px 15px 8px 15px;
  border-radius: 2px;
  font-size: 15px;
}

.register__link{
  margin-left: 15px;
}

.control-label{
  text-align: left;
  margin: 0;
  color: #282828;
  font-weight: 300;
  font-size: 0.9em;
}

.checkbox {
  font-size: 0.8em;
}

.popover {
  margin-left: 100px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.popover-content {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.8em;
}

hr{
  border: none; /* Убираем границу для браузера Firefox */
  color: #ccc; /* Цвет линии для остальных браузеров */
  background-color: #ccc; /* Цвет линии для браузера Firefox и Opera */
  height: 1px;}

//radio on feedbacks page
.evaluation > label {
  margin-right: 5px;
}

.create__register{
//  border: 1px solid #ccc; background: #fff;
  background: #fff;

  a{
    color: #104C65;
  }
}


.Registations__info__block {
  margin-top: 25px;
  padding: 20px;
  padding-bottom: 40px;
  background: #fff;
//  border:1px solid #000;

  .Registations__info {



    margin-bottom: 50px;
    p{
      font-size: 1em;
      color:#565656;
      text-align: justify;
    }

        .Registations__info__link{
          color:#00827E;
          font-weight: 700;
        }
        .Registations__info__header {
          display: flex;
          margin-bottom: 10px;
                i {
                  font-size: 2em;
                  padding: 5px;
                }

                .briefcase {
                  color: saddlebrown;
                }

                .money {
                  color: #03CEBD;
                }
                .clock{
                  color: #FF5C2D;
                }
                .list__ol {
                 color: #97CD76;
                }

                h4 {
                  color: #000;
                  margin: 3px 0 0 10px;
                  padding: 5px;
                }



        }
  }



}

.Registations__form__block {
//  border: 1px solid #000;
  background: #f5f5f5;
  margin-top: 25px;
  h4{
    margin-top: 1em;
    margin-left: 16px;
    color:#000;
  }
  p {
    margin-left: 16px;
    color: #c4c4c4;
  }
}


.Job__create__block {
  background: #f5f5f5;
  padding-bottom: 125px;
  h4 {
    margin-left: 15px;
  }
}


.how__to__start__today {
margin-top:10px;
  background:#fff;
  border: 1px solid #e2e2e2;
  padding: 1em;
  h3 {
    color:#FF5C2D;
    text-align:center;
    margin-bottom: 20px;
  }
  .numbers {
    color:#FF5C2D;
    margin-right: 8px;
    font-size: 1.1em;
    font-weight: bold; 
  }
  h4 {
    color: #ED6C63;
  }
  p{
    text-align:justify;
  }
}

.steps__one, .steps__two, .steps__three {
  height:200px;
  padding: 10px;
}
.statistics{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
