.header {
  width:100%;
  background: #4A90E2;
  margin-top: -25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
 }

.header > *{
color:#fff;
}

.header > h2 {
   margin: 15px 0 10px 0;
 }
.header > h5 {
  margin: 5px 0 15px 0;
}

.create__button{
   padding: 10px 15px 10px 15px;
   background: #51AC20;
   border-radius: 8px;
 }

.create__button:hover{
  background: #EF9E01;
  color: #ffffff;
  text-decoration: nonw;
}
.how__it__works {
  margin: auto;
  width: 950px;
  display: flex;
  justify-content: center;
//  border: 1px solid #ffff00;
}

.how__it__works > * {
//  border: 1px solid #00ffff;
  margin: 5px;
  flex-basis: 300px;

}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.steps span {
  color:#EF9E01;
  padding: 2px 13px 2px 13px;
  border:3px solid #EF9E01;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 10px 0 5px;
  display: inline-block;
}

.steps > h3 {
  color: #2B3E69;
  font-weight: 700;
}

.steps > p {
  font-size: 0.9em;
}