div .Job__view {
//  border:1px solid blue;

}

.Job__name {
  margin-top: 0;
}

.Job__view >.published_date{
	color:#ccc;
	font-style: italic;
}

ul.Job__list {
//  border:1px solid #ccc;
  padding: 0;
}

.Job__list li{
  list-style: none;
}

.Images {
  padding: 0 7px 5px 0;
  margin-left: 15px;
}


.Offer__form{
margin-left: 15px;
 }

 .Offer__for__job{
 	padding: 0;
// 	margin-left: 95px;
 }

