.job__list__header{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  color:#2B3E69;
}

.job__list__header > span {
  color: #727272;
}

.job__block{
  border: 1px solid #ddd;
  background: #fff;
  margin: 5px 0 10px 0;
  padding: 15px;
  position: relative;
//  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
//  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.job__block > p{
  margin: 0px;
}
.job__block > a {
  font-size: 1.1em;
  font-weight: 700;
}

.job__block > p a.offer{

}


.job__block > .published_date {
  color: #999999;
  font-size: 0.8em;
}

.job__block > .price {
  color: #EF9E01;
}
.job__block span.notification {
  font-size: 0.9em;
  color: #999999;
  margin-top: 4px;
  margin-bottom: 4px;
}

.job__block .images {
 position: absolute;
  top: 15px;
  right: 15px;
}

.jobdone {
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 0.9em;
  color: #2B3E72;
}

.jobdone > p {
  margin-bottom: 0;
}