.job__list__header{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  color:#2B3E69;
}

.job__list__header > span {
  color: #727272;
}

.job__block{
  border: 1px solid #ddd;
  background: #fff;
  margin: 5px 0 10px 0;
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
//  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
//  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.job__block > p{
  margin: 0px;
}
.job__block > a {
  font-size: 1em;
  font-weight: 400;
}

 a.offer__link{
font-size: 1em;
}


.job__block > .published_date {
  color: #999999;
  font-size: 0.8em;
  font-weight: normal;
}

.job__block > .price {
  color: #EF9E01;
}
.job__block span.notification {
//  font-size: 0.9em;
  color: #999999;
  margin-top: 4px;
  margin-bottom: 4px;
}

.job__block .images {
 position: absolute;
  top: 15px;
  right: 15px;
}

.jobdone {
  padding: 0;
  margin: 5px 0 0 0;
  font-size: 0.9em;
  color: #2B3E72;
}

.jobdone > p {
  margin-bottom: 0;
  color: green;
}

.offers__info
{
  border-top: 1px solid #ddd;
  margin-top: 5px;
  padding-top: 5px;
}

.offers__info
{
  font-size: 0.9em;
}

.new__offer{
  margin-top: 5px;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
}