@media (max-width: 900px) {
  .main_image {
    display: none;
  }


  .jumbotron {
    margin-top: -25px;
    padding-bottom: 25px;
    background-color: #fff;
  }

  .home_page_heading{
    font-size: 1.5em;
  }

  p.home_page_text{
    font-size: 1.2em;
  }

  .steps{
  margin-bottom: 2em;
  }



}