@media (max-width: 900px) {
  .main_image {
    display: none;
  }
  


  .jumbotron {
    margin-top: -25px;
    padding-bottom: 25px;
    background-color: #fff;
  }

  .home_page_heading, .how_to_heading{
    font-size: 1.5em;
  }

  p.home_page_text{
    font-size: 1.2em;
  }

  .steps{
  margin-bottom: 2em;
  }



}

@media (max-width: 510px) {
  .images > a:nth-child(2), .images > a:nth-child(3){
    display: none;
  }

}

@media (max-width: 800px) {
  .blockquote__block{
    display:none;
}
  .how_to, .home__font, .formasters
  {
        h3{
          font-size: 1.2em;
        }

        h4{
          font-size: 1em;
        }
  }

}

@media (max-width: 990px) {
  .create__register, .Job__create__block {
    padding-top: 12px;
  }

  .Registations__info__block {
    padding-bottom: 15px;
  }

  .Registations__form__block {
    padding-top: 10px;
    margin-top: 0px;
  }

}