@media (max-width: 900px) {
  .main_image {
    display: none;
  }

  .header {
    padding-bottom: 20px;
  }

  .header > *{
    color:#fff;
    text-align: center;
  }

}

@media (max-width: 750px) {
  .how__it__works {
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .how__it__works > * {
   flex-basis: 90%;
  }

  .how__it__works h4, .how__it__works p {

  }

}