.Nav__gen{
  background: #1F2D4C;
}

.Nav__list{
  margin-left: 25px;
}

.Nav__list > li{
  background: #2B3E69;
  margin: 2px 1px 1px 1px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
}

.Nav__list > li.login, .Nav__list .register{
  background: #2B3E69;
  margin: 2px 1px 1px 1px;
  font-family: 'Open Sans Condensed', sans-serif;
}


.Nav__links {
  color: #fff;
}