.Nav__gen{
  background: #2F3543;
}

.Nav__list{

}

.Nav__list > li{
  background: #2F3543;
  margin: 2px 1px 1px 1px;
  text-align: center;

}
.Nav__list > li.register {
  margin-top: 10px;
  border: 1px solid #03CEBD;
  > a {
    padding: 3px 5px 3px 5px;
    color: #03CEBD;
    &:hover {
      font-weight: 700;
    }
  }

}

.Nav__list > li.login, .Nav__list .register{
  margin: 2px 1px 1px 1px;
  text-align: center;
}

.navbar-nav > li > a {

    }




.Nav__links {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Open Sans Condensed', sans-serif;
//  font-family: 'Cuprum', sans-serif;
//  letter-spacing: 2px;
}

.Nav__links > i {
  margin-right: 5px;
  color:#03CEBD;
}

.navbar-inverse {

  .navbar-toggle {
    background-color: #03CEBD;
    border: 1px solid #1a9e90;
    &:hover {
      background-color: #1a9e90;
    }
   }

}



.navbar-brand {
  font-family:  'Jura', sans-serif;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: -2px;

}

.navbar-brand > i{
  font-size: 1em;
  color:#03CEBD;
  padding-top: 3px;
}

.dropdown-menu a {
  font-size: 0.9em;
}

.navbar-nav {
  > li > a {

    &:hover,
    &:focus {
      color: #03CEBD;
    }
  }
}