.Offer__header{
margin-left: 30px;
}

.Offer__row{
  margin-left: 25px;

}

.Offer__block {
border : 1px solid #568D8A;
  background: #F3F9FE;
padding: 10px 0 0 0;
  margin: 5px;
}

ul.Offer__list {
  list-style: none;
  padding-left: 10px;
}

.Offer__list li {

}

.Offer__button{
  margin: 0 0 10px 10px;
}