.Offer__header{
margin-left: 30px;
}

.Offer__row{
  margin-left: 25px;

}

.Offer__block {
background: #fff;
padding: 10px;
}
.Offer__image {
  float:left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.Accepted {
  background: #ffebee;
  color: #333;
}

ul.Offer__list {
  list-style: none;
  padding-left: 10px;
}

.Offer__list li {

}

.Offer__button{
  margin: 0 0 10px 10px;
}