.Profile__block{
padding: 0 0 10 10px;
  background: #e0f7fa;
  border:1px solid #b2ebf2;
}

.Profile__header{
  margin-bottom: 20px;
  padding: 0;
}

.Profile__form{

}

.Profile__input{

}

.Profile__list{
  list-style: none;
  padding-left: 0;

}