.Profile__block{
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.Profile__block h4{
  color: #2B3E69;
}

.Profile__header{
  margin-bottom: 20px;
  padding: 0;
}

.Profile__form{

}

.Profile__input{

}

.Profile__list{
  list-style: none;
  padding-left: 0;

}

.feedback__block {
display: flex;
  background: #fff;
  padding: 10px;
  justify-content: flex-start;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.feedback__block > p {
flex: 1;
  padding: 15px;

}
.feedback__rating {
  flex: 2;
}

.ratings {
  margin-bottom: 10px;
}
.ratings > label{
  padding:3px 8px 3px 8px;
}