.Profile__block{
  padding: 0 0 10 10px;
  background: #fff;
}

.Profile__block h4{
  color: #2B3E69;
}

.Profile__header{
  margin-bottom: 20px;
  padding: 0;
}

.Profile__form{

}

.Profile__input{

}

.Profile__list{
  list-style: none;
  padding-left: 0;

}