@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/buttons";
@import "components/job_view";
@import "components/nav";
@import "components/offer";



body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #f9f9f9;
}

.fa-btn {
  margin-right: 6px;
}
