@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/buttons";
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #568D8A;
}

.fa-btn {
  margin-right: 6px;
}
